In [34]:
import pandas as pd
import os

path = os.getcwd()
data_path = path + "/data/popular-names.txt"
data = pd.read_table( data_path, sep = "\t", header = None, 
                     names = ['name','sex','number','year'])
data.head()

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880

# 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [35]:
print(len(data))

2780

# 11. タブをスペースに置換Permalink
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

10番でタブで区切られてることを想定して読み込んでいるのでここはパス

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [36]:
col1 = data["name"]
col2 = data["sex"]

col1_path = path + "/data/col1.txt"
col2_path = path + "/data/col2.txt"

col1.to_csv(col1_path,index=False)
col2.to_csv(col2_path,index=False)

# 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [38]:
col1_path = path + "/data/col1.txt"
col2_path = path + "/data/col2.txt"

col1ver2 = pd.read_table(col1_path)
col2ver2 = pd.read_table(col2_path)

merged = pd.concat([col1ver2,col2ver2],axis= 1)
merged.head()

merged_path = path + "/data/merged12.txt"
merged.to_csv(merged_path, index = False,sep = "\t")

# 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [40]:
def df_head(df,n):
    return df.head(n)

print(df_head(data,5))

        name sex  number  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880